{% extends "learning_logs/base.html" %}

{% block content %}

  <h2>Topics</h2>

  <h3>Entries:</h3>

     {% for topic in topics %}

        <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
        <br>
        <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>

      {% if topic.entries %}
      <ul>
        {% for entry in topic.entries %}
        <li>
            <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            {{ entry }} - <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No entries for this topic yet.</p>
      {% endif %}

    {% endfor %}


{% endblock content %}
