{% extends "learning_logs/base.html" %}

{% block content %}

  <h2>Topics</h2>

  <h3>Entries:</h3>

     {% for topic in topics %}
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
        <br>
        <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>

        {% for entry in entries %}
        <li>
            <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ entry.text|linebreaks }}</p>
            <p>
               {{ entry }} -<a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a>
            </p>
        </li>
        {% endfor %}

    {% endfor %}


{% endblock content %}
